.messenger-page {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    max-height: 100vh;
    overflow: hidden;

    &_sidebar {
        position: relative;
        display: grid;
        grid-template-rows: var(--header-height) 1fr ;
        background-color: var(--secondary-bg-color);
    }

    &_chat {
        display: grid;
        grid-template-rows: var(--header-height) 1fr var(--bottom-sheet-height);
        max-height: 100vh;
    }
}

.search {
    padding: 18px 20px;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        width: 275px;
        border: 1px solid var(--light-gray-color);
        border-radius: 8px;
        padding: 10px;
    }

    &-icon {
        width: 20px;
        height: 20px;
        filter: invert(64%) sepia(0%) saturate(3877%) hue-rotate(106deg) brightness(85%) contrast(87%);

        &__cross {
            margin-top: 2px;
            cursor: pointer;

            &:hover {
                filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
            }
        }
    }

    &-button {
        background: none;
    }

    &-input {
        width: 75%;
        background-color: transparent;
        font-family: inherit;

        &:focus {
            outline: none;
        }
    }
}

.friends {
    overflow-y: auto;
    scrollbar-track-color: transparent;
    height: 100vh;

    &-list {
        padding: 18px 20px calc(200px - var(--bottom-sheet-height));
    }

    &-item {
        width: 100%;
        display: flex;

        &:not(:first-child) {
            margin-top: 18px;
        }

        &_user {
            position: relative;

            &-image {
                object-fit: cover;
            }
        }

        &_text {
            margin-left: 10px;

            &-name {
                font-weight: 600;
            }

            &-description {
                margin-top: 5px;
                font-size: 14px;
                color: var(--primary-gray-color);
                max-width: 195px;
                height: 28px;
                -webkit-line-clamp: 2; /* Число отображаемых строк */
                display: -webkit-box; /* Включаем флексбоксы */
                -webkit-box-orient: vertical; /* Вертикальная ориентация */
                overflow: hidden;
            }
        }
    }
}

.online {
    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 2px;
        width: 14px;
        height: 14px;
        background-color: var(--green-color);
        border-radius: 50%;
        border: 1.7px solid white;
    }
}

.bottom-sheet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 68px;
    height: var(--bottom-sheet-height);
    width: calc(var(--sidebar-width) - var(--scrollbar-width));
    padding: 20px 17px 20px 14px;
    background-color: var(--secondary-bg-color);

    &_functions {
        display: flex;

        &-button {
            background: none;
        }

        &-icon {
            width: 20px;
            height: 20px;
            margin-top: 1px;
            transform: rotate(180deg);
            cursor: pointer;
            filter: invert(64%) sepia(0%) saturate(3877%) hue-rotate(106deg) brightness(85%) contrast(87%);

            &:hover {
                filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
            }

            &:first-child {
                margin-right: 10px;
            }
        }
    }

    &_nickname {
        font-weight: 600;
        text-decoration: none;
    }
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    background-color: var(--secondary-bg-color);

    &_users {
        display: flex;
        width: 85px;

        &-item {
            outline: 2px solid white;
            width: 20px;
            height: 20px;
            border-radius: 50%;

            &:hover {
                z-index: 10;
            }

            &:nth-child(2) {
                transform: translateX(-20%);
            }
            &:nth-child(3) {
                transform: translateX(calc(-20% * 2));
            }
            &:nth-child(4) {
                transform: translateX(calc(-20% * 3));
            }
            &:nth-child(5) {
                transform: translateX(calc(-20% * 4));
            }
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &-text {
            display: flex;
            align-items: center;
        }

        &-image {
            margin-right: 5px;
        }

        &-title {
            font-weight: 600;
        }

        &-description {
            color: var(--primary-gray-color);
            font-size: 12px;
            margin-top: 5px;
        }
    }

    &_options {
        display: flex;
        justify-content: flex-end;
        width: 85px;

        &-button {
            margin-top: 5px;
            background: none;
            cursor: pointer;
        }

        &-icon:hover {
            filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
        }
    }
}

.chat-body {
    padding: 30px 30px 0;
    overflow-y: auto;
}

.messages {
    display: flex;
    flex-direction: column;
}

.messages1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message {
    display: flex;

    &:not(:first-child) {
        margin-top: 40px;
    }

    &_avatar {
        margin-right: 10px;
    }

    &_bubble {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        min-width: 150px;
        padding: 10px 15px 15px;
        background-color: var(--main-bg-color);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 14px;

        &-username {
            font-weight: 800;
            margin-bottom: 10px;
        }

        &-text {
            line-height: 1.15;
        }

        &-time {
            position: absolute;
            bottom: -20px;
            left: 0;
            font-size: 12px;
            color: var(--dark-gray-color);
        }
    }
}

.message1 {
    display: flex;

    &:first-child {
        margin-top: 40px;
    }

    &:not(:first-child) {
        margin-top: 10px;
    }

    &_avatar {
        display: none;
    }

    &_bubble {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        min-width: 150px;
        padding: 10px 15px 15px;
        background-color: var(--blue-color);
        color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 14px;

        &-username {
            display: none;
        }

        &-text {
            line-height: 1.15;
        }

        &-time {
            position: absolute;
            bottom: -20px;
            right: 0;
            font-size: 12px;
            color: var(--dark-gray-color);
        }
    }
}

.chat-form {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: var(--sidebar-width);
    justify-content: space-between;
    max-height: 48px;
    padding: 8px 27px;
    background-color: var(--secondary-bg-color);

    &_features {
        display: flex;
        align-items: center;
        padding: 5px 16px 5px 0;

        &-button {
            background: none;
        }

        &-icon {
            margin-top: 4px;
            cursor: pointer;

            &:first-child {
                margin-right: 14px;
            }

            &:hover {
                filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
            }
        }
    }

    &_input {
        width: 100%;
        height: 32px;
        border-radius: 30px;
        padding: 8px 20px;
        margin: auto 0;
        background-color: var(--chat-input-bg);
        font-family: inherit;
    }

    &_submit {
        background: none;
        padding-left: 20px;

        &-icon {
            cursor: pointer;
            filter: invert(64%) sepia(0%) saturate(3877%) hue-rotate(106deg) brightness(85%) contrast(87%);

            &:hover {
                filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
            }
        }
    }
}
