.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-page_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 340px;
    min-height: 470px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
    background: var(--main-bg-color);
}

.auth-page_avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid var(--dark-gray-color);
    margin-top: 30px;
}

.auth-page_input {
    width: 100%;
    border: 2px solid var(--secondary-gray-color);
    border-radius: 8px;
    height: 40px;
    padding: 10px;
    color: var(--black-color);
    margin-top: 5px;
    font-family: inherit;
}

.auth-page_input__error {
    border: 2px solid var(--red-color);
}

.auth-page_input::placeholder {
    color: var(--primary-gray-color);
}

.auth-page_input-container {
    width: 100%;
    margin-top: 20px;
}

.auth-page_input-label {
    font-size: 14px;
    margin-left: 5px;
}

.auth-page_link {
    color: var(--blue-color);
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}

.auth-page_button {
    background-color: var(--blue-color);
    color: white;
    font-weight: 800;
    font-family: inherit;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}
