.light-button-component {
    background: none;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.exit {
    color: var(--red-color);
}

.primary {
    color: var(--blue-color);
}
