<div class="friend-component">
    {{> avatar/avatar stub=stub size=avatarSize src=src}}
    <div class="friend-component_info">
        <p class="friend-component_info-name">{{ name }}</p>
        <p class="friend-component_info-description">{{ lastMessage }}</p>
    </div>
</div>
