.profile-page {
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 510px;

        &-username {
            font-size: 25px;
            font-weight: 600;
            margin-top: 20px;
        }
    }

    &_inputs {
        margin-top: 30px;
        width: 100%;
    }

    &_input {
        &:not(:last-child) {
            border-bottom: 1px solid var(--light-gray-color);
        }
    }

    &_buttons {
        margin-top: 20px;
        margin-right: auto;
    }

    &_button {
        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    &_back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 20px;
        text-decoration: none;
        color: var(--primary-gray-color);
        filter: invert(61%) sepia(0%) saturate(681%) hue-rotate(167deg) brightness(99%) contrast(93%);

        &:hover {
            filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
            color: var(--blue-color);
        }

        &-icon {
            width: 20px;
        }

        &-text {
            margin-bottom: 1px;
        }
    }
}
