.profile-input-component {
    display: flex;
    align-items: center;

    &_field {
        width: 100%;
        background: none;
        padding: 10px 0 10px 10px;
        font-family: inherit;
        font-size: 16px;
        color: var(--primary-gray-color);
        text-align: end;

        &::placeholder {
            color: var(--primary-gray-color);
        }
    }

    &_label {
        width: 150px;
        margin-right: 10px;
        font-weight: 600;
    }

    // TODO: Подумать над реализацией ошибки в будущих спринтах
}
