//// styles

// common
@import "reset.scss";
@import "variables.scss";

// pages
@import "../pages/sign-in/index.scss";
@import "../pages/sign-up/index.scss";
@import "../pages/profile/index.scss";
@import "../pages/chat/index.scss";
@import "../pages/tooltips/index.scss";
@import "../pages/change-data/index.scss";
@import "../pages/errors/index.scss";

// partials
@import "../components/input/input.scss";
@import "../components/input/light-input.scss";
@import "../components/button/button.scss";
@import "../components/avatar/avatar.scss";
@import "../components/link/link.scss";
@import "../components/search/search.scss";
@import "../components/friend/friend.scss";
@import "../components/sheet/sheet.scss";
@import "../components/message/message.scss";
@import "../components/tooltip/tooltip.scss";
@import "../components/popup/popup.scss";
@import "../components/photo-picker/photo-picker.scss";

// Корневые стили

:root {
    height: 100vh;
    background: url("../assets/images/bg-noise.jpeg") round;
    color: var(--black-color);
    font-family: Nunito, sans-serif;
    font-weight: 400;
}

// Стили страницы

.page-flex, .page-grid {
    height: 100vh;
}

.page-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-grid {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    overflow: hidden;
}

// Стили карточки

.card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 340px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 14%);
    background: var(--main-bg-color);
}

// Другие стили

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.input-component__disable {
    color: var(--primary-gray-color);
}

.button {
    background: red;
}

// Временные стили для index.html

.render-root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 40px;
	gap: 10px;
}

.render-root button {
	font-family: Nunito, sans-serif;
	font-weight: 600;
	font-size: 20px;
	background: none;
	cursor: pointer;
}

.render-root button:hover {
	color: var(--light-blue-color);
}

.render-root span {
	color: var(--blue-color);
	pointer-events: none;
}

.render-root h4 {
	color: var(--primary-gray-color);
	font-weight: 400;
	margin-top: 6px;
}

.render-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 20px 30px;
	background: var(--secondary-bg-color);
	border-radius: 10px;
	width: 700px;
}

.render-card_pages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}
