:root {
    // цвета
    --black-color: #1e1e1e;
    --blue-color: #0086ea;
    --light-blue-color: #2ea6ff;
    --primary-gray-color: #999999;
    --secondary-gray-color: #f2f2f7;
    --dark-gray-color: #adadad;
    --light-gray-color: #c0c0c0ff;
    --chat-input-bg: #efefef;
    --red-color: #f00;
    --main-bg-color: #fff;
    --secondary-bg-color: #fbfbfb;
    --green-color: #34c759;
    --friend-hover: rgba(51, 166, 255, 0.07);
    --messages-color: #519ae0;

    // размеры
    --sidebar-width: 315px;
    --scrollbar-width: 10px;
    --header-height: 68px;
    --footer-height: 48px;
}
