:root {
    // цвета
    --black-color: #1E1E1E;
    --blue-color: #0086EA;
    --primary-gray-color: #999999;
    --secondary-gray-color: #F2F2F7;
    --dark-gray-color: #8FA0AF;
    --red-color: #F00;
    --main-bg-color: #FFF;
    --secondary-bg-color: #FBFBFB;
}
