.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 510px;
    }

    &_avatar {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-background {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background-color: var(--secondary-gray-color);
            border-radius: 50%;
            transition: .3s;
            outline: 2px dashed var(--light-gray-color);
            cursor: pointer;

            &:hover {
                outline: 2px dashed var(--blue-color);

                .profile-page_avatar-icon {
                    transition: .3s;
                    filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
                }
            }
        }

        &-username {
            font-size: 25px;
            font-weight: 600;
            margin-top: 20px;
        }

        &-icon {
            width: 30px;
            height: 26px;
            filter: invert(61%) sepia(0%) saturate(681%) hue-rotate(167deg) brightness(99%) contrast(93%);
        }
    }

    &_info {
        &-list {
            width: 100%;
            margin-top: 30px;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            position: relative;

            &:not(:first-child) {
                margin-top: 30px;
            }

            &:not(:last-child) {
                &:after {
                    content: '';
                    position: absolute;
                    top: 180%;
                    height: 1px;
                    width: 100%;
                    background-color: var(--light-gray-color);
                }
            }
        }

        &-key {
            font-weight: 600;
        }

        &-value {
            color: var(--primary-gray-color)
        }
    }

    &_buttons {
        &-list {
            display: flex;
            flex-direction: column;

            width: 100%;
            margin-top: 40px;
        }

        &-item {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    &_button {
        background: none;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &__primary {
            color: var(--blue-color);
        }

        &__exit {
            color: var(--red-color);
        }
    }

    &_back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 20px;
        text-decoration: none;
        color: var(--primary-gray-color);
        filter: invert(61%) sepia(0%) saturate(681%) hue-rotate(167deg) brightness(99%) contrast(93%);

        &:hover {
            filter: invert(53%) sepia(94%) saturate(5711%) hue-rotate(188deg) brightness(100%) contrast(102%);
            color: var(--blue-color);
        }

        &-icon {
            width: 20px;
        }

        &-text {
            margin-bottom: 1px;
        }
    }
}
