.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.error-page_description {
    max-width: 320px;
    text-align: center;
    line-height: 1.2;
}

.error-page_title {
    font-size: 140px;
}

.error-page_link {
    margin-top: 40px;
    font-weight: 700;
    text-decoration: none;
    color: var(--blue-color);
}
