.page-flex, .page-grid {
    height: 100vh;
}

.page-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-grid {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    overflow: hidden;
}
